.env
data/raw/
data/processed/
__pycache__/
*.pyc
.DS_Store
Overleaf.zip
*.parquet
notebooks/.ipynb_checkpoints/
Overleaf/build/
Overleaf_thesis.zip
.vscode/
Essays/*.pdf
data/fetch_log.txt
Presentation_IE_BissanGhaddar_capstone.pdf
Research_Capstone_KickOff_May_2026.pdf
